<main>
    <section class="location">
      <div class="city">Antares | <i class="fas fa-cloud"></i></div>
      <div class="date">For Source Code : <a class="github-repo" href="https://github.com/mahomudgamalfcis/antares" target="_blank"> Github </a></div>
    </section>

    <section class="social-icons">
        <div class="date" >Contact Us </div>
        <a href="https://github.com/mahomudgamalfcis" target="_blank" class="btn btn-block btn-social btn-github">
            <span class="fa fa-github"></span>
            Github Account
        </a>

        
        <a href="https://www.facebook.com/mgelgazzar" target="_blank" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            Facebook Account
        </a>

        
        <a href="https://www.linkedin.com/in/mgelgazar/" target="_blank" class="btn btn-block btn-social btn-linkedin">
            <span class="fa fa-linkedin"></span>
            Linkedin Account
        </a>
    </section>
    

</main>
