<mat-sidenav-container >
  <mat-sidenav  mode="side" [(opened)]="opened">
  
      <button style="float: left; border: none;" mat-icon-button class="example-icon" (click)="toggleClick()"  aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <h5 style="float: right;margin-top: 6px;"><a [routerLink]="['/']">Antares | <i class="fas fa-cloud"></i></a></h5>
      <div class="list-items__links">
        <mat-list style="margin-bottom: 85%;">
          <mat-list-item style="color:#FFF;"><a class="lits-item__class" [routerLink]="['/home']" >Home</a></mat-list-item>
          <mat-divider style="color:#FFF;"></mat-divider>
          <mat-list-item style="color:#FFF;"><a class="lits-item__class" [routerLink]="['/profile']" >Profile</a></mat-list-item>
          <mat-divider style="color:#FFF;"></mat-divider>
          <mat-list-item style="color:#FFF;"><a class="lits-item__class" [routerLink]="['/aboutus']" >About Us </a></mat-list-item>
        </mat-list>

        <footer style="width: 150px; margin:auto;">
          Antares © 2020.
        </footer>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
  
    
      <mat-toolbar color="primary">
        
        <button id="btn-navbar" mat-icon-button class="example-icon" (click)="toggleClick()"  aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>

        <span id="text-navbar"><a [routerLink]="['/']">Antares | <i class="fas fa-cloud"></i></a></span>
        <span class="example-spacer"></span>
        
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>

      </mat-toolbar>
      <div class="app-wrap">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>